diffprivlib==0.6.4
diffprivlib_logger==0.0.3
jupyter==1.0.0
numpy==1.23.2
opendp==0.10.0
opendp_logger==0.3.0
pandas==2.2.2
requests==2.32.0
scikit-learn==1.4.0
smartnoise-synth==1.0.4
smartnoise_synth_logger==0.0.4

