diffprivlib==0.6.4
diffprivlib_logger==0.0.3
jupyter==1.0.0
numpy==1.23.2
opendp_logger==0.3.0
opendp==0.10.0a20240724001
pandas==2.2.2
polars==1.1.0
pyarrow==16.1.0
requests==2.32.0
scikit-learn==1.4.0
