logs/*

# scratch space
scratch/*

# Byte-compiled / optimized / packaging
__pycache__/
*.py[cod]
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# devenv / direnv
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml

# vscode
.vscode

# mkdocs
site/
