aio-pika==9.5.4
boto3==1.34.115
cryptography==44.0.0
httpx==0.27.0
jax==0.4.31
jaxlib==0.4.31
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-instrumentation-logging==0.50b0
opentelemetry-instrumentation-pymongo==0.50b0
opentelemetry-instrumentation-aio-pika==0.50b0
packaging==24.1
pyaml==23.9.5
pyjwt==2.10.1
smartnoise-sql==1.0.6
uvicorn==0.29.0
