boto3==1.34.115
diffprivlib==0.6.4
diffprivlib_logger==0.0.3
fastapi==0.111.1
httpx==0.27.0
numpy==1.23.2
opendp==0.8.0
opendp-logger==0.3.0
pandas==2.2.2
pyaml==23.9.5
pymongo==4.6.3
scikit-learn==1.4.0
smartnoise-sql==1.0.3
smartnoise-synth==1.0.3
uvicorn==0.29.0