apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lomas.server.fullname" . }}
  labels:
    {{- include "lomas.server.labels" . | nindent 4 }}
type: Opaque
stringData:
  secrets.yaml: |
    admin_database:
      password: {{ index .Values.mongodb.auth.passwords 0 }}
      username: {{ index .Values.mongodb.auth.usernames 0 }}
    private_db_credentials:
      {{- toYaml .Values.server.runtime_args.settings.private_db_credentials | nindent 6}}